body {
	background-image: url(../img/background_2.jpg);  
	background-repeat: round;  
	background-size: 100%;
}

header{
    background-color: orange;
	padding: 3%;
	

}

/*Classe Atribuida pra div que vai receber o logotipo*/
.logo img{
    background-color: black;
    padding: 3%;
    width: 100px;
}

nav {
    background-color: #0000;
}

main{
   background-color: black;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding: 3%;
}

section{
	background-color: black;
}

footer{
	background-color: black;
	color: rgb(255, 255, 255);
	padding: 3%;
}

.menu{
	background-color: black;
	padding: 3%;
}


h1{
	font-size: 2em;
	background-position: center;
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal; 
	text-align: center; 
	color: rgb(255, 255, 255);
	font-size: 500%;
	padding-bottom: 3%;
}

h2{
	font-size: 1.5em;
	font-style: oblique;
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p{
	font-size: 1.2em;
	padding-bottom: 3%;
	text-align: justify;
}

ul,li{
	font-size: 1.2em;
	list-style-type: none;
}

.cabecalho{
	padding: 3%;
}

.rodape{
	padding: 3%;
}

.tabela{
	overflow-x: auto;
}

table{
	border-collapse: collapse;
	width: 100%;
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	font-family: "Josefin Sans", sans-serif;   
	font-optical-sizing: auto;  
	font-weight: 500;  
	font-style: normal;
	color: white;
}

th,td{
	border: 5px orange;
	padding: 1.5%;

}

tr:nth-child(even) {
	background-color: orange;
}

.maintext {  
	font-family: "Josefin Sans", sans-serif;   
	font-optical-sizing: auto;  
	font-weight: 500;  
	font-style: normal;
	text-align: left;   
	line-height: 1.5;  
	color: rgb(255, 255, 255);
}

.titulos{ 
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	
	
}

.navbar{
	display: inline;
	position: -webkit- sticky;
	position: sticky;
	top: 0;
	font-family: "Anton", sans-serif;
	font-weight: 400;   
	font-style: normal;    
	color:rgb(255, 255, 255);
}

.linha{
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
}

.col-3{
	width: 25%;
}

.col-3 p{
	font-size: 1rem;
	text-align: center;
}

.imggaleria{
	width: 90%;
	margin-left: 1%;
	margin-right: 1%;
}

a:link{
	color:  orange;
	text-decoration: none;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	color:yellow;
	text-decoration: none;
}

a:active{
	color:yellow;
	text-decoration: none;
}

.right{
	float: right;
	padding: 1%;
	
}

.left{
	float: left;
	padding: 1%;
	
}

table{
	border-collapse: collapse;
	
}

td{
	padding: 3%;
	text-align: center;
}

.container {
	position: relative;
}

.topleft {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 18px;
}

.topright {
	position: absolute;
	top: 8px;
	right: 85px;
	font-size: 18px;
}

.center {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.bottomleft {
	position: absolute;
	bottom: 8px;
	left: 16px;
	font-size: 18px;
}

.bottomright {
	position: absolute;
	bottom: 8px;
	right: 85px;
	font-size: 18px;
}

.fundo {
	width: 100%;
	height: auto;
	opacity: 0.3;
}



@media screen and (max-width: 690px) {
	.right{
		width: calc(50% - 20px);
	}

	h1{
		font-size: calc(50% - 20px);
	}
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	width: calc(33.33% - 20px);
	margin-bottom: 10px;
	padding: 20px;
	box-sizing: border-box;
}

.container img{
	width: 1200px;
}

@media screen and (max-width: 750px){
	.card {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 450px){
	.card {
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 1485px){
	.container img{
		width: calc(95% - 20px);
	}

}

@media screen and (max-width: 945px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(100% - 1px);
	}
}

@media screen and (max-width: 795px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(90% - 1px);
	}

}

@media screen and (max-width: 710px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(80% - 1px);
	}

}

@media screen and (max-width: 650px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(70% - 1px);
	}

}

@media screen and (max-width: 580px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(60% - 1px);
	}

}

@media screen and (max-width: 510px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(50% - 1px);
	}

}

@media screen and (max-width: 445px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(40% - 1px);
	}

}

@media screen and (max-width: 360px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(30% - 1px);
	}

}

@media screen and (max-width: 290px){

	.topleft, .topright, .center, .bottomleft, .bottomright{
		font-size: calc(20% - 1px);
	}

}

