body {
	background-image: url(../img/background_2.jpg);  
	background-repeat: round;  
	background-size: 100%;
}

header{
    background-color: orange;
    padding: 3%;

}

/*Classe Atribuida pra div que vai receber o logotipo*/
.logo img{
    background-color: black;
    padding: 3%;
    width: 100px;
}

nav {
    background-color: #0000;
}

main{
   background-color: black;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding: 3%;
}

section{
	background-color: black;
}

footer{
	background-color: black;
	color: rgb(255, 255, 255);
	padding: 3%;
}

h1{
	font-size: 2em;
	background-position: center;
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal; 
	text-align: center; 
	color: rgb(255, 255, 255);
	font-size: 500%;
	padding-bottom: 3%;
}

h2{
	font-size: 1.5em;
	font-style: oblique;
}

p{
	font-size: 1.2em;
	padding-bottom: 3%;
	text-align: justify;
}

ul,li{
	font-size: 1.2em;
	list-style-type: none;
}

.cabecalho{
	padding: 3%;
}

.rodape{
	padding: 3%;
}

table{
	border-collapse: collapse;
	width: 100%;
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	font-family: "Josefin Sans", sans-serif;   
	font-optical-sizing: auto;  
	font-weight: 500;  
	font-style: normal;
	color: white;
}

th,td{
	border: 5px orange;
	padding: 1.5%;

}

tr:nth-child(even) {
	background-color: orange;
}

.maintext {  
	font-family: "Josefin Sans", sans-serif;   
	font-optical-sizing: auto;  
	font-weight: 500;  
	font-style: normal;
	text-align: left;   
	line-height: 1.5;  
	color: rgb(255, 255, 255);
}

.titulos{ 
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	
	
}

.navbar{
	font-family: "Anton", sans-serif;
	font-weight: 400;   
	font-style: normal;    
	color:rgb(255, 255, 255);
}

.linha{
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
}

.col-3{
	width: 25%;
}

.col-3 p{
	font-size: 1rem;
	text-align: center;
}

.imggaleria{
	width: 90%;
	margin-left: 1%;
	margin-right: 1%;
}

a:link{
	color: white;
}

a:visited{
	color: yellow;
}

a:hover{
	color:orange
}

a:active{
	color:yellow
}

.right{
	float: right;
	padding: 1%;
	
}

.left{
	float: left;
	padding: 1%;
	
}

table{
	border-collapse: collapse;
	
}



td{
	padding: 3%;
	text-align: center;
	
}

@media screen and (max-width: 690px) {
	.right{
		width: calc(50% - 20px);
	}

	h1{
		font-size: calc(50% - 20px);
	}
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	width: calc(33.33% - 20px);
	margin-bottom: 10px;
	padding: 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 750px){
	.card {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 450px){
	.card {
		width: calc(100% - 20px);
	}
}
