body {
    /*background-image: url(../img/a.jfif);
    background-repeat: no-repeat;
    background-size: 90%;*/

}

header{
    background-color: black;
    padding: 3%;
}

/*Classe Atribuida pra div que vai receber o logotipo*/
.logo img{
    background-color: black;
    padding: 3%;
    width: 100px;
    
}

nav {
    background-color: #0000;
}



main{
   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 3%;
}

.maintext {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        text-align: left;
        line-height: 1.5;
        color: rgb(255, 255, 255);
}

.title {
    line-height: 3;
    background-image: url(../img/borderlands_title.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
h1{
    
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: rgb(255, 255, 255);
      
    font-size: 500%;
}

section {

}

footer{
   background-color: black;
   
    padding: 3%;
}


p {
    color: rgb(255, 255, 255);
}

.navbar {
    font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
    color:rgb(255, 255, 255)
}

.navbar_link{
    padding: 1%;
}